* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: rgba(31, 31, 40, 1);
    color: rgba(220, 215, 186, 1);
    border-radius: 15px;
}

button {
    border: none;
    border-radius: 15px;
    box-shadow: none;
    text-shadow: none;
}

button:hover {
    background: inherit;
    text-shadow: none;
    box-shadow: 0 0 0 2px rgba(54, 54, 70, 1) inset;
}

#workspaces button {
    color: rgba(220, 215, 186, 1);
}

#workspaces button.active {
    background-color: rgba(42, 42, 55, 1);
}

#idle_inhibitor {
    background-color: rgba(42, 42, 55, 1);
    padding: 0px 5px 0px 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#idle_inhibitor.activated {
    color: rgba(255, 158, 59, 1);
}

#custom-screen-brightness {
    background-color: rgba(42, 42, 55, 1);
    padding: 0px 5px 0px 5px;
}

#custom-kb-backlight {
    background-color: rgba(42, 42, 55, 1);
    padding: 0px 10px 0px 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#custom-divider {
    color: rgba(84, 84, 109, 1);
    padding: 0px 10px 0px 10px;
}

#bluetooth {
    background-color: rgba(42, 42, 55, 1);
    padding: 0px 5px 0px 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#wireplumber {
    background-color: rgba(42, 42, 55, 1);
    padding: 0px 5px 0px 5px;
}

#wireplumber.muted {
    color: rgba(195, 64, 67, 1);
}

#network {
    background-color: rgba(42, 42, 55, 1);
    padding: 0px 5px 0px 5px;
}

#network.disconnected {
    color: rgba(195, 64, 67, 1);
}

#battery {
    padding: 0px 10px 0px 5px;
    background-color: rgba(42, 42, 55, 1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#battery.warning {
    color: rgba(255, 158, 59, 1);
}

#battery.critical {
    color: rgba(195, 64, 67, 1);
}

#battery.charging {
    color: rgba(157, 187, 108, 1);
}

tooltip {
    background: rgba(22, 22, 29, 0.95);
}
